[Desktop Entry]
Name=KnitCalc
Comment=KnitCalc is a knitting calculator
Exec=knitcalc
Icon=${SNAP}/meta/gui/knitcalc.png
Terminal=false
Type=Application
Categories=Utility;
